{% extends 'help_the_world/base.html' %}
{% load static %}

{% block content %}

<div>

	<center><h2 style="font-size:96px">Money</h2></center>
	<h4 style="font-size:20">When thinking of donation what is the first think to come to mind? Money, right? Many people think you can only donate your money which is wrong. You can donate through other ways, but that doesn't mean that money isn’t a good way to donate. Money is what gets us are needs and our wants. From food, water, and a roof over your head to baseball bats, phones, and junk food; money covers it all. This is why when you donate money your helping those in need. I have had experience raising and donating money to people in need. A couple years ago I organized a fun-run and was able to donate $415 to the children's hospital. They used the money to help children in need by building a better equipped Emergency Room. The fun-run was a wonderful experience.  I feel that everyone should try a fun-run in their community to raise money for those in need.  There are other activities similar to a fun-run that can help to raise money.</h4>
	<pic> </pic>
</div>
<center><div>
<img src="{% static 'help_the_world/fun_run_thank_you.png' %}" alt="Hi!" height="70%" width="45%" border="5" />
<img src="{% static 'help_the_world/fun_run_with_a_splash.png' %}" alt="Hi!"height="70%" width="45%" border="5" />
</div></center>

{% endblock %}