{% extends 'help_the_world/base.html' %}
{% load static %}

{% block content %}

<div>
<center><h2 style="font-size:96px">Time</h2></center>

<h4 style="font-size:20">Time is my personal favorite type of donation. You can help people so much through donating time. I encourage you to donate through time the most because when you do you make connections. I have donated at many different places. Including a humane society and a food bank. Both were very fun experiences and I would love to do them again. Donating at the food bank was fun experience because everyone that came to get food was excited and always smiling. The humane society was also fun because you could tell that the animals needed attention, so when you helped out it made you feel good about yourself. I think you would love donating your time if you tried. </h4>



</div>
<center>
	<div>
		<img src="{% static 'help_the_world/donate_time_1.jpeg' %}" alt="Hi!" height="70%" width="45%" border="5" style="top:20%; -ms-transform:translateY(-20%); transform:translateY(-20%)"/>

		<img src="{% static 'help_the_world/donate_time_2.jpg' %}" alt="Hi!" height="100%" width="45%" border="5" />
	</div>
</center>

{% endblock %}