{% extends 'help_the_world/base.html' %}
{% load static %}

{% block content %}

<div>
	<center>
    <h4 style="font-size:28">Have you ever felt the urge to just go and donate time, money, or resources? Well that is wonderful! Donation is extremely important in this world and it helps a lot of people stay up on their feet. Hi my name is Teagan and I am 11 yers old and I long for everyone to have the same resources. I love to donate time and you can too. So are you wondering how you can donate then here it is!</h4>
  </center>
</div>


<center><div>
<img src="{% static 'help_the_world/happy.jpeg' %}" alt="Hi!"height="70%" width="45%" border="5" />

</div>

{% endblock %}


