{% extends 'help_the_world/base.html' %}
{% load static %}

{% block content %}

<div>
<center><h2 style="font-size:96px">Resources</h2></center>

<h4 style="font-size:20">
I believe that everyone is equal and everyone deserves the same resources.</h4><h4 style="font-size:20">-Teagan Lear</h4>


<h4 style="font-size:20">
	Resources is another amazing way to donate. This way of donation is very important because it could save someone's life. While we are having 3 meals a day people are starving wishing for a piece of bread. That is why I encourage you to donate some of your resources. Even the small things like donating a bag of clothes to goodwill will help a lot. So when thinking of throwing away a shirt that doesn't fit think twice and donate it!</h4>







</div>
<center><div>
<img src="{% static 'help_the_world/reasources_1.jpg' %}" alt="Hi!" height="100%" width="35%" border="5" />
<img src="{% static 'help_the_world/reasources_2.jpg' %}" alt="Hi!" height="100%" width="35%" border="5" />
</div>

{% endblock %}